* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

header {
    top: 0;
    position: fixed;
    /* width: 100vw; */
    background-color: white;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    column-gap: 4vw;
}

#imgLogo {
    height: 15vh;
    padding-left: 2vw;

}

#menu {
    align-self: center;
    justify-self: center;
    margin-left: 5vw;
    /* border: 1px solid black; */
    /* height: 20vh; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
}

#listaMenu {
    display: flex;
    flex-direction: row;
    column-gap: 3vh;
}

#linkLojas, #linkInstitucional, #linkServicos, #linkFaleConosco {
    color: black;
}

h3 {
    font-size: 3vh;
}
#login {
    /* display: flex; */
    height: 15vh;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin-right: 3vw;
    font-size: 1.5vw;
    
}
/* #login.input div a {
    height: 10%
} */

#loginOuCriacao {
    display: flex;
}

#criarConta {
    /* display:inline; */
    color: black;
    margin-left: 2vw;
    font-size: 2.5vh;
}

#botaoCabeca:hover {
   background-color: rgb(255, 119, 85);
   color: black;
   transform: scale(1.3, 1.3);
}

#botaoCabeca {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    height: 5vh;
    width: 8vw;
    /* padding-top: 1vh; */
    border-radius: 2vh;
    background-color: black;
}

h1 {
    font-size: 10vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pesquisar {
    top: 15vh;
    position: sticky;
    display: grid;
    grid-template-columns: 94vw 6vw;
    grid-template-rows: 8vh;
}

#pesquisa {
    outline: unset;
    font-size: 3vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    /* height: 7vh; */
    padding: 0 3vw;
    background-color: azure;
    border: transparent;
    height: 5vw;
}

#botaoPesquisa {
    border: transparent;
    border-left: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    padding: 0 3vw;
    background-color: azure;
    padding-left: 3vh;
    display: grid;
    justify-items: center;
    align-items: center;    
    padding-left: 2vh;
    height: 5vw;
}

#botaoPesquisa:hover {
    background-color: rgb(255, 119, 85);
    border: 4px solid black;
}

#lupa {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 3vw;
    /* padding-left: 0;
    padding-top: 1vh; */

}

#primeiroArtigo {
    /* width: 100vw; */
    background-color: rgb(255, 119, 85);
    height: 45.7vh;
    display: flex;
    flex-direction: column;
}

#pesquisaPorTipo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    /* gap: 1vh; */
}

#pesquisaPorTipo #tipos:hover {
    border-radius: 1vh;
    box-shadow: 0 5vh 15vh 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.25, 1.25);
    background-color: black;
    color: rgb(255, 119, 85);;

}

#tipos {
    display: block;
    /* width: 33vw; */
    text-align: center;
    font-size: 25px;
    /* border: 1px solid black; */
    color: black;
    padding-top: .5vh;
}

a {
    text-decoration: none;
    color: white
}

#promocao {
    width: 100%;
}
#promocao:hover {
    transform: scale(1.02, 1.02);
    border: 1px solid black;
}

tr, td {
    height: 25vh;
    width: 25vw;
}

#listaDeProdutos {
    margin-top: -1vh;
    /* width: 100vw; */
    background-color: rgb(255, 119, 85);
    /* border: 2px solid black; */
    height: 180vh;
    padding-top: 8vh;
    display: grid;
    /* grid-template-rows: 33vh 33vh 33vh; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    /* row-gap: 25vh; */
    /* justify-items: space-between; */
}

#produto {
    width: 80%;
    /* border: 1px solid black; */
    border-radius: 2vh;
}
#produto:hover {
    transform: scale(1.2, 1.2);
}

#maisInformacoes {
    background-color: black;
    color: white;
    /* width: 98.3vw; */
    padding: 2vh;
    padding-left: 3px;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 22vw;
    height: 35vh;
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 1.5vw;
}

#maisInformacoes h3 {

    font-size: 3vw;

}


li:hover {
    color: black;
    background-color: white;
    border-radius: 1vh;
    transform: scale(1.0, 1.1);
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
}

#formularioContato div {
    display: flex;
    flex-direction: column;
}

#formularioContato button {
    width: 22vw;
    margin-top: 1vh;
}



#botaoContato {
    width: 20vw;
}

footer {
    /* width: 100vw; */
    display: grid;
    justify-items: center;
    grid-template-columns: 10vw 45vw 35vw;

}

#volteSempre {
    font-size: 4vw;
    /* border: 1px solid black; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding-top: 3vh; */
    display: grid;
    justify-items: center;
    align-items: center;
}

#imgRodape {
    height: 8vw;
}

#iconesRedesSociais {
    display: grid;
    grid-template-columns: 5vw 5vw 5vw;
    justify-items: center;
    align-items: center;
    margin-left: 7vw;
    /* border: 1px solid black; */
    
}

#iconesRedesSociais a:hover {
   transform: scale(2, 2);
}


@media screen and (max-device-width: 480px) {

    #listaMenu {
        display: none;
    }

    #menu {
        align-self: center;
        justify-self: center;
        margin-left: 5vw;
        /* border: 1px solid black; */
        /* height: 20vh; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: block;
    }
    

    #listaDeProdutos {
        display: grid;
        /* grid-template-rows: 20vh 20vh 20vh 20vh 20vh; */
        grid-template-columns: 1fr 1fr;

    }

    h1 {
        font-size: 10vw;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #primeiroArtigo {
        /* width: 100vw; */
        background-color: rgb(255, 119, 85);
        height: 45.7vh;
        display: flex;
        flex-direction: column;
    }

    #primeiroArtigo {

        height: 50vw;

    }

    #tipos {

        font-size: 4.5vw;

    }

}


@media screen and (min-device-width: 481px) and (max-device-width: 800px) {

    
    #listaMenu {
        display: none;
    }

    #menu {
        align-self: center;
        justify-self: center;
        margin-left: 5vw;
        /* border: 1px solid black; */
        /* height: 20vh; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: block; 
    }

    #listaDeProdutos {
        display: grid;
        /* grid-template-rows: 20vh 20vh 20vh 20vh 20vh; */
        grid-template-columns: 1fr 1fr 1fr;

    }

    h1 {
        font-size: 10vw;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #primeiroArtigo {

        height: 50vw;

    }

    #tipos {

        font-size: 4.5vw;

    }
}